@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400;1,500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F6F6F6;
    min-height: 100vh;
}
.parpelback{
    background-color: #5D5FEF;
    color: white;
    padding: 10px;
}
.parpelcolor,.parpelcolor a{
    color: #5D5FEF !important;
}
.activeBtn{
    background-color: #EEEFFF;
    color: #5D5FEF ;
}
#navbarNav{
    justify-content: end;
}
.nav-link:hover{
    transform: scale(1.1);
}
.fontSize{
    font-size: 20px;
}
.modal-dialog{
    max-width: 1000px;
}
.moodal-img{
    max-height: 520px !important;
}
.dropdown-toggle:hover{
    color: white;
}